<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="htmx" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Default HTMX Settings</label>
<!--                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">-->
<!--                    <label>Enabled</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
<!--                </field>-->
                <field id="auto_scroll" translate="label" type="select" sortOrder="20" showInDefault="1" canRestore="1">
                    <label>Auto Scroll to Swapped Content</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="excluded_elements" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Excluded Elements</label>
                    <comment>CSS rules to exclude dom elements that should not be boosted by HTMX</comment>
                </field>
            </group>
        </section>
    </system>
</config>
